
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "About";
}
<br>
<h3 class="text-center" style="font-size:xx-large">About</h3>
<br>
<div class="text-center">
          <p>An online ticket booking platform facilitates selection, reservation and purchase of tickets for the movies. 
             This type of platform primarily contains: Information such as show movie schedule, trailers and price of the tickets.</p>
          <p>Our movie tickets contain information regarding the date and time of the given film, the film name, the cinema number, 
             the theater name, as well as the ticket's validity period. Some businesses also offer discounts and freebies to customers 
             by including a cash voucher along with their ticket.</p>
    </div>

